body {

	background-color: #084008;

	.canvas-container {
		position: absolute;
		left: 128px;
		top: 64px;
		right: 128px;
		bottom: 64px;

		canvas {
			background-color: #0c0c0c;
			position: absolute;
		}
	}
}
